{% extends 'base.html' %}
{% block content %}
<div class="RegisterForm">
    {% load static %}
    <a href="/homepage">
        <img src="{% static 'images/Logo'%}" alt="Logo" id="Logo">
    </a>
    <h1>Welcome to Pizza Palace</h1>    
    <form method="POST">
        {% csrf_token %}
        <div class="FormInput">
            {{ form.username.label_tag }}
            {{form.username}}
        </div>
        <div class="FormInput">
            {{ form.password.label_tag }}
            {{form.password}}
        </div>
        <div class="FormButtons">
            <button type="submit" id="LoginButton">Log in</button>
        </div>
    </form>
    <a href="{% url 'signup' %}" id="SignupButton">
        <button>Sign up</button>
    </a>
</div>

{% endblock %}