{% extends 'base.html' %}
{% block content %}

    <div class="Profile">
        <div class="ProfileHeading">
            <a href="{% url 'logout' %}">Logout</a>
            <h1>Profile Settings</h1>
        </div>
        
        <form method="post">
            <div class="ProfileMainInfo">
                <div class="MainInfoLeft">
                    <div class="FormInput">
                        {% csrf_token %}
                        {{ form.FullName.label_tag }}
                        {{form.FullName}}
                    </div>
                    <div class="FormInput">
                        {{ form.PhoneNumber.label_tag }}
                        {{form.PhoneNumber}}
                    </div>
                </div>
                <div class="MainInfoRight">
                    {% if user.userprofile.ProfilePic %}
                    <img src="{{ user.userprofile.ProfilePic }}" alt="ProfileImage" id="ProfileImage" />
                        {% else %}
                        {% load static %}
                    <img src="{% static 'images/Profile-icon'%}" alt="Profile" id="ProfileIcon">
                        {% endif %}
                    <div class="FormInput">
                        {{ form.ProfilePic.label_tag }}
                        {{form.ProfilePic}}
                    </div>
                </div>
            </div>
            <div class="FormInput">
                {{ form.StreetName.label_tag }}
                {{form.StreetName}}
            </div>
            <div class="FormInput">
                {{ form.HouseNumber.label_tag }}
                {{form.HouseNumber}}
            </div>
            <div class="FormInput">
                {{ form.City.label_tag }}
                {{form.City}}
            </div>
            <div class="FormInput">
                {{ form.PostalCode.label_tag }}
                {{form.PostalCode}}
            </div>
            <div class="FormInput">
                {{ form.Country.label_tag }}
                {{form.Country}}
            </div>
            <div class="FormButtons">
                <button type="submit" id="SignupButton" >Save</button>
            </div>

            

        </form>
    </div>
{% endblock %}