{% extends 'base.html' %}
{% block content %}
<div class="SignUpForm">
    {% load static %}
    <a href="/homepage">
        <img src="{% static 'images/Logo'%}" alt="Logo" id="Logo">
    </a>
    <h1 id="SignUpTitle">SignUpForm</h1>    
    <form method="post">
        {% csrf_token %}
        <div class="FormInput">
            <label for="FullName">Full Name</label>
            <input type="text" placeholder="Full Name" id="FullName">
        </div>
        <div class="FormInput">
            <label for="Email" >Email</label>
            <input type="text" name="Email" placeholder="Email" id="Email">
        </div>
        <div class="FormInput">
            <label for="Password">Password</label>
            <input type="password" id="Password" placeholder="Password" id="Password">
        </div>
        <div class="FormInput">
            <label for="ConfirmPassword">Confirm</label>
            <input type="password"  placeholder="Confirm Password" id="ConfirmPassword">
        </div>

        <div class="FormInput">
            <label for="StreetName">Street Name</label>
            <input type="text" id="StreetName" placeholder="Street Name">
        </div>
        <div class="FormInput">
            <label for="HouseNumber">House Number</label>
            <input type="text" id="HouseNumber" placeholder="House Number">
        </div>
        <div class="FormInput">
            <label for="City">City</label>
            <input type="text" id="City" placeholder="City">
        </div>
        <div class="FormInput">
            <label for="Country">Country</label>
            <select name="Country" id="Country">
                <option>select country</option>
                <option value="Afghanistan">Afghanistan</option>
                <option value="Albania">Albania</option>
                <option value="Algeria">Algeria</option>
                <option value="AmericanSamoa">American Samoa</option>
                <option value="Andorra">Andorra</option>
                <option value="Angola">Angola</option>
                <option value="Anguilla">Anguilla</option>
                <option value="Antarctica">Antarctica</option>
                <option value="Argentina">Argentina</option>
                <option value="Armenia">Armenia</option>
                <option value="Aruba">Aruba</option>
                <option value="Australia">Australia</option>
            </select>
        </div>
        <div class="FormInput">
            <label for="PostalCode">PostalCode</label>
            <input type="text" id="PostalCode" placeholder="PostalCode">
        </div>
        <div class="FormButtons">
            <button type="submit" id="SignupButton">Create Account</button>
        </div>
    </form>
    <a href="{% url 'login'%}">
        <button>Cancel</button> 
    </a>
</div>

{% endblock %}