{% extends 'base.html' %}
{% block content %}
<div class="SignUpForm">
    {% load static %}
    <a href="/homepage">
        <img src="{% static 'images/Logo'%}" alt="Logo" id="Logo">
    </a>
    <h1 id="SignUpTitle">SignUpForm</h1>    
    <form method="POST">
        {% csrf_token %}
        <div class="FormInput">
            <span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
            {{ form.username.label_tag }}
            {{form.username}}
        </div>
        <span class="helptext">
            <p>Please Note</p>
            <ul>
                <li>Your password can’t be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can’t be a commonly used password.</li>
                <li>Your password can’t be entirely numeric.</li>
            </ul>
        </span>
        <div class="FormInput">
            {{ form.password1.label_tag }}
            {{form.password1}}
        </div>
        <div class="FormInput">
            {{ form.password2.label_tag }}
            {{form.password2}}
        </div>

        <!-- Below is old. kept to reuse later ;)-->
        <!--<div class="FormInput">
            <label for="{{ form.FullName.id_for_label }}">Full Name</label>
            {{form.FullName}}
        </div>
        <div class="FormInput">
            <label for="{{ form.email.id_for_label }}">User Name</label>
            {{form.email}}
        </div>
        <div class="FormInput">
            <label for="{{ form.username.id_for_label }}">User Name</label>
            {{form.username}}
        </div>
        <div class="FormInput">
            <label for="{{ form.password.id_for_label }}">Password</label>
            {{form.password}}
        </div>
        <div class="FormInput">
            <label for="{{ form.ConfirmPassword.id_for_label }}">Confirm</label>
            {{form.ConfirmPassword}}
        </div>

        <div class="FormInput">
            <label for="{{ form.StreetName.id_for_label }}">Street Name</label>
            {{form.StreetName}}
        </div>
        <div class="FormInput">
            <label for="{{ form.HouseNumber.id_for_label }}">House Number</label>
            {{form.HouseNumber}}
        </div>
        <div class="FormInput">
            <label for="{{ form.City.id_for_label }}">City</label>
            {{form.City}}
        </div>
        <div class="FormInput">
            <label for="{{ form.Countrys.id_for_label }}">Country</label>
            {{form.Country}}
        </div>
        <div class="FormInput">
            <label for="{{ form.PostalCode.id_for_label }}">PostalCode</label>
            {{form.PostalCode}}
        </div>-->
        <div class="FormButtons">
            <input type="submit" id="SignupButton" value="Sign up"/>
        </div>
    </form>
    <a href="{% url 'login'%}">
        <button>Cancel</button> 
    </a>
</div>

{% endblock %}