:root {
    /* colors */
    --BackgroundColor: black;
    --TextColor: white;
    --PrimaryColor: #FFE600;
    --SecondaryColor: #C31E1A;

    /* sizes */
    --LargeFont: 2rem;
    --MediumFont: 1.5rem;
    --SmallFont: 1.3rem;

    --card-width: 400px;
	--card-height: 600px;

	--card-border: 2px solid var(--SecondaryColor);
	--card-border-radius: 50px;
    --card-transition-duration: 500ms;

    --FontFamily: sans-serif;

    --border-thickness: .2em;
    --border-style: solid;

    --pilled-shape-radius: 40px;
}

/* base */

body {
    margin: 0;
    background-image:url(../images/PizzaBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--TextColor);
    background-color: var(--BackgroundColor);
    margin: 0;
    font-size: var(--LargeFont);
    align-items: center;
    border-bottom: 0.2em solid;
    border-color: var(--SecondaryColor);
    width: 100%;
}

.HeaderText {
    color: var(--TextColor);
    text-decoration: none;
}

header * {
    display: flex;
    align-items: center;
}

.HeaderLeft > * {
    padding-left: 1em;
}

.HeaderRight > * {
    padding-right: 1em;
}

#ShoppingCart {
    width: 3em;
}

#ProfileIcon, #Logo {
    width: 4em;
}


main {
    display: flex;
    height: 79vh;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

footer {
    min-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--TextColor);
    background-color: var(--BackgroundColor);
    margin: 0;
    font-size: 1em;
    align-items: center;
    border-top: var(--border-thickness) var(--border-style);
    border-color: var(--SecondaryColor);
    width: 100%;
}

footer ul {
    list-style: none;
}

footer > * {
    display: flex;
    text-align: center;
}

footer > * > h2 {
    align-self: center;
    font-family: var(--FontFamily);
}

.FotterColorText {
    color: var(--PrimaryColor);
    text-decoration: underline;
}

/* Homepage */

.HomePageBody {
    display: flex;
	justify-content: space-evenly;
	align-items: center;
    height: 80vh;
    flex-direction: row;
    width: 100%;
}

.HomePageBody .Card {
    width: var(--card-width);
	height: var(--card-height);
	box-sizing: border-box;
	border: var(--card-border);
	border-radius: var(--card-border-radius);
    background-color: var(--BackgroundColor);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition-property: transform, background-image;
	transition-duration: var(--card-transition-duration);
	transition-timing-function: ease;
}

.HomePageBody .Card h2{
    margin-bottom: 2em;
    font-family: var(--FontFamily);
}

.HomePageBody .Card img{
    width: 300px;
    height: 300px;
}

.HomePageBody a {
    text-decoration: none;
    color: var(--TextColor);
    font-size: var(--LargeFont);
}

.HomePageBody .Card:hover {
    transform: scale(1.05);
}

/* Login & Signup Form */

.RegisterForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:30%;
    background-color: var(--BackgroundColor);
    border-color: var(--SecondaryColor); 
    margin: auto;
    min-height: 60vh;
    border-radius: 40px;
    border: var(--border-thickness);
    border-style: var(--border-style);
    border-color: var(--SecondaryColor);
    color: var(--TextColor);
    font-family: var(--FontFamily);
}

.RegisterForm form{
    width: 70%;
}

.FormInput {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 90%;
    padding: 10px;
    height: 80px;
}

.FormInput label {
    color: var(--TextColor);
    font-family: var(--FontFamily);
    padding-left: 20px;
    font-size: var(--SmallFont);
}

.FormButtons {
    display:  flex;
    justify-content:center;
}
.FormButtons button,select {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 10px;
    width: 200px;
    padding: 10px 0;
}

#SignupButton,#CancelButton {
    margin-top: 20px;
}


.FormInput input{
    border-radius: var(--pilled-shape-radius);
    width: 100%;
    padding: 10px;
    height: 40px;
}


.RegisterForm #Logo {
    width: 10em;
    margin: auto;
}

.SignUpForm {
    max-width: 700px;
    width: 100%;
    background: var(--BackgroundColor);
    padding: 25px 30px;
    border-radius: 5px;
    border-radius: 40px;
    border: var(--border-thickness);
    border-style: var(--border-style);
    border-color: var(--SecondaryColor);
    color: var(--TextColor);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.SignUpForm * {
    font-family: var(--FontFamily);
}
.SignUpForm #Logo {
    width: 100px;
}
/* Profile */
.Profile{
    max-width: 700px;
    width: 100%;
    background: var(--BackgroundColor);
    padding: 25px 30px;
    border-radius: 5px;
    border-radius: 40px;
    border: var(--border-thickness);
    border-style: var(--border-style);
    border-color: var(--SecondaryColor);
    color: var(--TextColor);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Profile form{
    width: 100%;
}
.ProfileMainInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.MainInfoRight {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ProfileImage {
    width:100px;
    height:100px;
    border-radius: 50%;
}

.ProfileHeading{
    width: 100%;
    display: flex;
    justify-content: center;
}
.ProfileHeading a{
    background-color: var(--TextColor);  
    border-radius: 5px;
    color: var(--BackgroundColor);
    padding: .5em;
    text-decoration: none;
    text-align: center;
    position: absolute;
    top: 18%;
    left: 38%;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 10px;
    width: 100px;
    padding: 10px 0;
}

/* Menu */

#MainBlock {
    width: 80%;
    position: absolute;
    top: 20%;
    left: 10%;
    font-family: var(--Font-Family);
}

#SearchBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--TextColor);
    background-color: var(--BackgroundColor);
    align-items: center;
    border-radius: 15px;
    font-size: 2em;
    max-height: 2em;
    padding: 1.1rem;
}



#SearchbarCheckbox {
    font-family: var(--FontFamily);
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    font-size: var(--MediumFont);
}

#Search {
    border-radius: var(--pilled-shape-radius);
    padding: 1.1rem;
    font-size: var(--SmallFont);
    font-weight: bold;
}
#ProductBox {
    padding-bottom: 10em;
}

#ProductBox > a {
    text-decoration: none;
}

.ProductElement {
    position: relative;
    background-color: var(--BackgroundColor);
    color: var(--TextColor);
    display: flex;
    flex-direction: row;
    font-size: 1.8em;
    margin-top: 1em;
    border-radius: 25px;
    border: var(--card-border);
    border-style: var(--border-style);
    border-color: var(--SecondaryColor);
    max-height: 200px;
}

.ProductImg {
    position: sticky;
    border-radius: 22px 0px 0px 22px;
    max-width: 10em;
    left: 0;
    border-right: var(--card-border);
    border-style: var(--border-style);
    border-color: var(--SecondaryColor);
}

.ProductText {
    position: relative;
    left: 2%;
}

.ProductText > p {
    margin: 0;
    font-family: var(--FontFamily);
}
.ProductHighLight{
    display: flex;
    align-items: center;
    gap: 20px;
}
.ProductName {
    color: var(--PrimaryColor);
    text-decoration: underline;
    margin-bottom: 0;
}

.ProductPrices {
    position: absolute;
    right: 2%;
    bottom: 0;
}

.VegeterianPic,.SpicyPic {
    max-width: 50px;
    max-height:50px;
}


/* Pizza View */
#PizzaPage {
    display: flex;
    flex-direction: column;
    font-family: var(--Font-Family);
    width: 80%;
    padding-top: 500px;
}

#PizzaBox {
    display: flex;
    flex-direction: row;
}

#PizzaPic {
    border: var(--card-border);
	border-radius: var(--card-border-radius);
    border-color: --SecondaryColor;
    max-width: 40%;
    max-height: 400px;
}

#PizzaText {
	border-radius: var(--card-border-radius);
    border-color: var(--SecondaryColor);
    border-style: var(--border-style);
    background-color: var(--BackgroundColor);
    margin-left: 1em;
    margin-right: 1em;
    padding: 1.5em;
    color: var(--TextColor);
    width: 45%;
}

#PizzaTitle {
    margin: 0;
    font-size: 4em;
    font-family: var(--FontFamily);
    color: var(--PrimaryColor);
    text-decoration: underline;
}

.PizzaDesc {
    font-size: var(--MediumFont);
    font-family: var(--FontFamily);
}

#SelectionBox {
    font-family: var(--Font-Family);
}
#PizzaToppings {
    font-size: var(--SmallFont);
    font-family: var(--FontFamily);
}
#ToppingPage {
    display: flex;
    flex-direction: column;
}

.ToppingBox {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

.Topping {
    display: flex;
    flex-direction: row;
    background-color: var(--BackgroundColor);
    color: var(--TextColor);
    border-radius: 10px;
    padding: 0.5em;
    border-color: var(--SecondaryColor);
    border-style: var(--border-style);
    min-width: 100px;
    font-size: var(--MediumFont);
    font-family: var(--FontFamily);
    justify-content: center;
}
.toppingcheckbox:checked + label {
    color: var(--PrimaryColor);
}
input[type="radio"] {
    border-radius: 15px;
    border: 2px solid var(--BackgroundColor);
    background-color: var(--BackgroundColor);
}  
  


#small {
    width: 10em;
    height: 10em;
}

#medium {
    width: 13em;
    height: 13em;
}

#large {
    width: 17em;
    height: 17em;
}

label span:first-of-type {
    position: relative;
    left: -1.8em;
    font-size: 3em;
    color: var(--BackgroundColor);
}

label span {
    position: relative;
    top: -1em;
}

#SizeBox {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10%;
}
.SizeOption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--LargeFont);
    font-weight: bold;
}

/* Offer View */

#OfferPage {
    font-family: var(--Font-Family);
    position: absolute;
    top: 20%;
    left: 5%;
    width: 90%;
}

#OfferBox {
    display: flex;
    flex-direction: row;
}

#OfferPic {
    border: var(--card-border);
	border-radius: var(--card-border-radius);
    border-color: var(--BackgroundColor);
    max-width: 40%;
    max-height: 40%;
}

#OfferText {
	border-radius: var(--card-border-radius);
    background-color: var(--BackgroundColor);
    margin-left: 1em;
    margin-right: 1em;
    padding: 1.5em;
    color: var(--TextColor);
    width: 45%;
}

#OfferTitle {
    margin: 0;
    font-size: 4em;
}

.OfferDesc {
    font-size: 2em;
}

/* Payment Bubble */

.PayBox {
    background-color: var(--BackgroundColor);
    border-radius: var(--card-border-radius);
    border-color: var(--SecondaryColor);
    border-style: var(--border-style);
    color: var(--TextColor);
    width: 20%;
    position: fixed;
    left: 75%;
    min-height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: var(--FontFamily);
}

.PaySelect {
    font-size: 1.5em;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;  
}
#PayBoxPizzaName {
    text-align: center;
}
#OrderBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: var(--MediumFont);
    font-family: var(--FontFamily);
    gap: 20px;
}

#OrderSelect {
    font-size: var(--MediumFont);
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
    padding-left: 10%;
    padding-right: 10%;  
}

.PayText {
    border-top: 1px solid var(--SecondaryColor);
    font-size: 1.5em;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
}

#AddToCartButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: var(--BackgroundColor);
    background-color: var(--PrimaryColor);
    font-weight: bold;
    font-size: 1em;
    border-color: var(--BackgroundColor);
    border-style: var(--border-style);
    border-radius: 10px;
    width: 80%;
    height: 60px;
}

/* Offer Templates */

/* Stolen SO HARD from w3schools lol */
.dropbtn {
    border-radius: 10px;
    background-color: var(--PrimaryColor);
    color: var(--BackgroundColor);
    padding: 16px;
    font-size: 16px;
    border: none;
    font-weight: bold;
  }
  
  .dropdown {
    margin-right: 9%;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    border-radius: 10px;
    display: none;
    position: absolute;
    background-color: var(--TextColor);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px var(--BackgroundColor);
    z-index: 1;
  }
  
  .dropdown-content a {
    border-radius: 10px;
    font-weight: bold;
    color: var(--BackgroundColor);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: #ffc400;}

/* Cart */

#CartBalance {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--TextColor);
    background-color: var(--BackgroundColor);
    border-style: var(--border-style);
    border-color: var(--SecondaryColor);
    width: var(--card-width);
	height: var(--card-height);
    font-family: var(--FontFamily);
    font-size: var(--MediumFont);
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
}

#CartBalanceContents {
    width: 100%;
    display: flex;
    flex-direction: row;

}
#CartBalanceContents > * {
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.Cart {
    display:  flex;
    justify-content: center;
    padding: 10px;
    max-height: 80vh;
}
.CartBalanceTotal {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.ProductsQuantity {
    text-align: center;
}
.ProductsPrice {
    text-align: end;
}


.CartContents {
    margin-right: 10px;
    max-height: 600px;
    background-color: var(--BackgroundColor);
    border-color: var(--SecondaryColor);
    border-style: var(--border-style);
    overflow-y: scroll;
    color: var(--TextColor);
    display: flex;
    flex-direction: column;
    min-width: 1000px;
}

.CartProduct {
    color: var(--TextColor);
    display: flex;
    width: 1000px;
    font-size: var(--LargeFont);
    flex-direction: row;
    gap: 20px;
    border-bottom-color: var(--SecondaryColor);
    border-bottom-style: var(--border-style);
}
.CartProduct .ProductImg {
    width: 30%;
    border-radius: 0;
}
.ProductDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.ProductPaymentText {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 30%;
}
.ProductPaymentText p,h1 {
    margin: 0;
    font-family: var(--FontFamily);
}

.ProductPaymentText h1 {
    margin-top: 10px;
    font-size: var(--LargeFont);
    color: var(--PrimaryColor);
    text-decoration: underline;
}
.ProductPaymentText p {
    font-size: var(--SmallFont);
}
.ProductButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-self: flex-end;
    gap: 10px;
}

.minus, .plus{
    border-radius:4px;
    padding:10px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.ProductButtons input{
    font-size: 2rem;
    border-radius: 10px;
    height: 3rem;
    width: 5rem;
    text-align: center;
    font-size: 26px;
    border:1px solid white;
    border-radius:4px;
    display: inline-block;
    vertical-align: middle;
} 
.Remove {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-self: center;
    font-size: var(--MediumFont);
    color: var(--BackgroundColor);
    background-color: var(--TextColor);
    border: none;
    text-align: center;
    margin-right: 30px;
    border-color: var(--SecondaryColor);
    border-style: var(--border-style);
}

.ProductButtons .reduce,.add {
    padding: 0.5rem;
    border-radius: 30%;
    font-weight: bold;
    font-size: var(--MediumFont);
    width: 3rem;
    background-color: var(--TextColor);
    color: var(--BackgroundColor);
    border-color: var(--PrimaryColor);
}


#CheckoutButton{
    color: var(--BackgroundColor);
    justify-content: center;
    text-decoration: none;
    border: 0;
    border-radius: var(--pilled-shape-radius);
    font-weight: 600;
    width: 80%;
    padding: 20px;
    background-color: var(--PrimaryColor);
    font-size: var(--MediumFont);
    margin-bottom: 20px;
    text-align: center;
}
/* Checkout/Contact Details*/
.CheckoutInformation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.CheckoutInfoLeft {
    width: 50%;
}
.CheckoutInfoRight {
    width: 50%;
}
.CreditCardInformation {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}
.CreditCardSmallDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.CCSmallDetail{
    display: flex;
    flex-direction: column;
}
.CreditCardInformation input{
    width: 100%;
    padding: 10px;
    height: 10px;
}
#ErrorMessage {
    color: red;
}
/* Confirmation page */

.ConfirmationPageBody {
    display: flex;
	justify-content: space-evenly;
	align-items: center;
    height: 80vh;
    flex-direction: row;
    width: 100%;
}

#ConfirmationCard {
    font-family: var(--FontFamily);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--TextColor);
    background-color: var(--BackgroundColor);
    border-color: var(--SecondaryColor);
    border-style: var(--border-style);
    border-radius: var(--card-border-radius);
    padding: 1em;
    min-height: 60vh;
}
#ConfirmationCard h2{
    font-size: var(--LargeFont);
    font-weight: bolder;
}
#ConfirmationCard p {
    width: 70%;
    margin: 0;
    text-align: center;
    font-size: var(--MediumFont);
}

#ExploreMoreBtn {
    margin-top: 1.1em;
    background-color: var(--SecondaryColor);
    border-style: var(--border-style);
    border-radius: var(--pilled-shape-radius);
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: var(--SmallFont);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#ConfirmationCard a{
    text-decoration: none;
}
#CheckIcon {
    width: 400px;
    height: 400px;
}