:root {
    /* colors */
    --black: black;
    --white: white;
    --PrimaryColor: #FFE600;
    --SecondaryColor: #C31E1A;

    /* sizes */
    --Large-font: 2rem;

    --card-width: 400px;
	--card-height: 600px;

	--card-border: 2px solid var(--SecondaryColor);
	--card-border-radius: 50px;
    --card-transition-duration: 500ms;

    --Font-Family: sans-serif;

    --border-thickness: .2em;
    --border-style: solid;

    --pilled-shape-radius: 40px;
}

body {
    margin: 0;
    background-image:url(../images/PizzaBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--white);
    background-color: var(--black);
    margin: 0;
    font-size: var(--Large-font);
    align-items: center;
    border-bottom: 0.2em solid;
    border-color: var(--SecondaryColor);
    width: 100%;
}

.HeaderText {
    color: var(--white);
    text-decoration: none;
}

header > * {
    display: flex;
    align-items: center;
}

.HeaderLeft > * {
    padding-left: 1em;
}

.HeaderRight > * {
    padding-right: 1em;
}

#ShoppingCart {
    width: 3em;
}

#ProfileIcon {
    width: 4em;
}

#Logo {
    width: 4em;
}



footer {
    min-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--white);
    background-color: var(--black);
    margin: 0;
    font-size: 1em;
    align-items: center;
    border-top: var(--border-thickness) var(--border-style);
    border-color: var(--SecondaryColor);
    width: 100%;
}

footer ul {
    list-style: none;
}

footer > * {
    display: flex;
    text-align: center;
}

footer > * > h2 {
    align-self: center;
    font-family: var(--Font-Family);
}

.FotterColorText {
    color: var(--PrimaryColor);
    text-decoration: underline;
}

/* Homepage body */

.HomePageBody {
    display: flex;
	justify-content: space-evenly;
	align-items: center;
    height: 80vh;
    flex-direction: row;
    width: 100%;
}

.HomePageBody .Card {
    /* This design comes from here: https://codepen.io/msandonini/pen/abaGKOa.
        I have made my personal modifications to it. -Hermann Helgi
    */
    width: var(--card-width);
	height: var(--card-height);
	box-sizing: border-box;
	border: var(--card-border);
	border-radius: var(--card-border-radius);
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition-property: transform, background-image;
	transition-duration: var(--card-transition-duration);
	transition-timing-function: ease;

}

.HomePageBody .Card h2{
    margin-bottom: 2em;
    font-family: var(--Font-Family);
}

.HomePageBody .Card img{
    width: 300px;
    height: 300px;
}

.HomePageBody a {
    text-decoration: none;
    color: var(--white);
    font-size: var(--Large-font);
}

.HomePageBody .Card:hover {
    transform: scale(1.05);
}

/* Login & Signup Form */

.RegisterForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:30%;
    background-color: var(--black);
    border-color: var(--SecondaryColor); 
    margin: auto;
    min-height: 60vh;
    border-radius: 40px;
    border: var(--border-thickness);
    border-style: var(--border-style);
    border-color: var(--SecondaryColor);
    color: var(--white);
    font-family: var(--Font-Family);
}


.FormInput{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.FormInput label {
    color: var(--white);
    font-family: var(--Font-Family);
}

.FormButtons {
    display:  flex;
    justify-content:space-between;
}
.FormButtons button{
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 10px;
    width: 200px;
    padding: 10px 0;
}

.FormInput input{
    border-radius: var(--pilled-shape-radius);
    width: 100%;
    padding: 10px;
    height: 40px;
}
.FormInput label{
    padding-left: 20px;
}

.RegisterForm #Logo {
    width: 10em;
    margin: auto;
}

/* Menu and Offer Stuff */

#MainBlock {
    width: 80%;
    position: absolute;
    top: 20%;
    left: 10%;
    font-family: var(--Font-Family);
}

#SearchBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--white);
    background-color: var(--black);
    align-items: center;
    border-radius: 15px;
    font-size: 2em;
    max-height: 2em;
}

#SearchBar > * {
    margin: 1em;
    border-radius: 15px;
}

#SliderSettings {
    width: 1.7em;
}

#ProductBox {
    padding-bottom: 10em;
}

#ProductBox > a {
    text-decoration: none;
}

.ProductElement {
    position: relative;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    flex-direction: row;
    font-size: 1.8em;
    margin-top: 1em;
    border-radius: 25px;
    border: var(--card-border);
    border-style: var(--border-style);
    border-color: var(--SecondaryColor);
}

.ProductImg {
    position: sticky;
    border-radius: 22px 0px 0px 22px;
    max-width: 10em;
    left: 0;
    border-right: var(--card-border);
    border-style: var(--border-style);
    border-color: var(--SecondaryColor);
}

.ProductText {
    position: relative;
    left: 2%;
}

.ProductText > p {
    margin: 0;
}

.ProductText > h1 {
    color: var(--PrimaryColor);
    text-decoration: underline;
    margin-bottom: 0;
}

.ProductPrices {
    position: absolute;
    right: 2%;
    bottom: -0.4em;
}

/* Pizza View */
#PizzaPage {
    display: flex;
    flex-direction: column;
    font-family: var(--Font-Family);
    position: absolute;
    top: 20%;
    left: 5%;
    width: 90%;
}

#PizzaBox {
    display: flex;
    flex-direction: row;
}

#PizzaPic {
    border: var(--card-border);
	border-radius: var(--card-border-radius);
    border-color: var(--black);
    max-width: 40%;
    max-height: 40%;
}

#PizzaText {
	border-radius: var(--card-border-radius);
    background-color: var(--black);
    margin-left: 1em;
    margin-right: 1em;
    padding: 1.5em;
    color: var(--white);
    width: 45%;
}

#PizzaTitle {
    margin: 0;
    font-size: 4em;
}

.PizzaDesc {
    font-size: 2em;
}

#SelectionBox {
    font-family: var(--Font-Family);
}

#ToppingBox {
    display: flex;
    flex-direction: row;
}

.Topping {
    display: flex;
    flex-direction: row;
    background-color: var(--black);
    color: var(--white);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

/* Offer View */

#OfferPage {
    font-family: var(--Font-Family);
    position: absolute;
    top: 20%;
    left: 5%;
    width: 90%;
}

#OfferBox {
    display: flex;
    flex-direction: row;
}

#OfferPic {
    border: var(--card-border);
	border-radius: var(--card-border-radius);
    border-color: var(--black);
    max-width: 40%;
    max-height: 40%;
}

#OfferText {
	border-radius: var(--card-border-radius);
    background-color: var(--black);
    margin-left: 1em;
    margin-right: 1em;
    padding: 1.5em;
    color: var(--white);
    width: 45%;
}

#OfferTitle {
    margin: 0;
    font-size: 4em;
}

.OfferDesc {
    font-size: 2em;
}

/* Payment Bubble */

.PayBox {
    background-color: var(--black);
    border-radius: var(--card-border-radius);
    color: var(--white);
    width: 20%;
}

.PaySelect {
    font-size: 1.5em;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;  
}

#OrderBox {
    display: flex;
    flex-direction: column;   
}

.OrderSelect {
    font-size: 1.5em;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;  
}

.PayText {
    border-top: 1px solid var(--SecondaryColor);
    font-size: 1.5em;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
}

#AddToCartButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: var(--black);
    background-color: var(--PrimaryColor);
    font-weight: bold;
    font-size: 1em;
    border-radius: 10px;
    width: 80%;
    height: 15%;
}

/* Offer Templates */

/* Stolen SO HARD from w3schools lol */
.dropbtn {
    border-radius: 10px;
    background-color: var(--PrimaryColor);
    color: var(--black);
    padding: 16px;
    font-size: 16px;
    border: none;
    font-weight: bold;
  }
  
  .dropdown {
    margin-right: 9%;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    border-radius: 10px;
    display: none;
    position: absolute;
    background-color: var(--white);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px var(--black);
    z-index: 1;
  }
  
  .dropdown-content a {
    border-radius: 10px;
    font-weight: bold;
    color: var(--black);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: #ffc400;}