{% extends 'base.html' %}
{% block content %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <section class="Cart">
        <div class="CartContents">
            {% block CartContents %}
            {% endblock %}
        </div>
        <div class="CartBalance">
            <div class="CartBalanceContents">
                <div class="ProductsName">
                    <p>Product</p>
                    {% for pizza in pizzas %}
                        <p>{{ pizza.name }}</p>
                    {% endfor %}
                </div>
                <div class="ProductsQuantity">
                    <p>Quantity</p>
                    {% for pizza in pizzas %}
                        <p>{{ pizza.qty }}</p>
                    {% endfor %}
                </div>
                <div class="ProductsPrice">
                    <p>Price</p>
                    {% for pizza in pizzas %}
                        <p class="SingleElementPrice">{{ pizza.price }}</p>
                    {% endfor %}
                </div>
            </div>
                <!-- Line Here?-->
            <div class="CartBalanceTotal" onclick="DisplayCart()">
                <p>Total</p>
                <p id="CheckoutPrice">{{ fullprice }}Kr.</p>
            </div>
            <button id="CheckoutButton" onclick="DeleteCart()">Checkout</button> <!--Needs functionality to remove from cart-->
        </div>
    </section>
{% endblock %}