{% extends 'CartBase.html' %}
{% block CartContents %}
    {% for pizza in pizzas %}
    <div class="CartProduct">
        <img src="{{ pizza.img }}" alt="PizzaImg" class="ProductImg">
        <div class="ProductPaymentText">
            <h1 class="ProductName">{{ pizza.name }}</h1>
            <p class="ProductIngredients">{{ pizza.additionaltoppings }}</p>
        </div>
        <div class="ProductButtons">
            <!--TODO: Add Onclick Functions to adjust input Value-->
            <button class="reduce">-</button>
            <input type="text" value="{{ pizza.qty }}"/>
            <button class="add">+</button>
            <Button class="remove">x</Button>
        </div>
    </div>
    {% endfor %}
{% endblock %}