{% extends 'CartBase.html' %}
{% block CartContents %}

    <form method="post" class="CheckoutInformation">
        <h1>Payment Details</h1>

        <div class="FormInput">
            {{ form.CardHolderName.label_tag }}
            {{form.CardHolderName}}
        </div>
        <div class="FormInput">
            {{ form.FullName.label_tag }}
            {{form.FullName}}
        </div>
        <div class="CreditCardSmallDetails">
            <div class="FormInput">
                {{ form.ExpiryDate.label_tag }}
                {{form.ExpiryDate}}
            </div>            
            <div class="FormInput">
                {{ form.CVC.label_tag }}
                {{form.CVC}}
            </div>
        </div>
    </form>
{% endblock %}
{% block CheckoutButton %}
    <form method="post" >
        <a href="#" onclick="document.forms['CheckoutInformation'].submit();" id="CheckoutButton" type="submit">
            Checkout
        </a>
    </form>
{% endblock %}