{% extends 'CartBase.html' %}
{% block CartContents %}
<form method="post">
    {% csrf_token%}
    <div class="CreditCardInformation">
        <h1>Payment Details</h1>
        {% if error == True %}
            <h1 id="ErrorMessage">One of the given input fields was blank, please retry.</h1>
        {% endif %}
        <!--<form method="post" id="CheckoutInformation" class="CheckoutInformation" action="/cart/checkcreditcard">-->
            {% csrf_token %}
            <div class="FormInput">
                {{ form.NameCardholder.label_tag }}
                {{ form.NameCardholder }}
            </div>
            <div class="FormInput">
                {{ form.CardNumber.label_tag }}
                {{ form.CardNumber}}
            </div>
            <div class="CreditCardSmallDetails">
                <div class="FormInput">
                    {{ form.ExpirationDate.label_tag }}
                    {{form.ExpirationDate}}
                </div>            
                <div class="FormInput">
                    {{ form.CVC.label_tag }}
                    {{form.CVC}}
                </div>
            </div>
    </div>
{% endblock %}
{% block CheckoutButton %}
<!--onclick="document.forms['CheckoutInformation'].submit();"-->
        <button id="CheckoutButton" type="submit">
            Checkout
        </button>
        <a href="/cart/contactinformation" id="CheckoutButtonRed">
            Back
        </a>
    </form>
{% endblock %}