{% extends 'CartBase.html' %}
{% block CartContents %}

    <form method="post" class="CheckoutInformation">
        <h1>Payment Details</h1>
        {% csrf_token %}
        <div class="FormInput">
            {{ form.NameCardholder.label_tag }}
            {{ form.NameCardholder }}
        </div>
        <div class="FormInput">
            {{ form.CardNumber.label_tag }}
            {{ form.CardNumber}}
        </div>
        <div class="CreditCardSmallDetails">
            <div class="FormInput">
                {{ form.ExpirationDate.label_tag }}
                {{form.ExpirationDate}}
            </div>            
            <div class="FormInput">
                {{ form.CVC.label_tag }}
                {{form.CVC}}
            </div>
        </div>
    </form>
{% endblock %}
{% block CheckoutButton %}
    <form method="post" >
        <a href="" onclick="document.forms['CheckoutInformation'].submit();" id="CheckoutButton" type="submit">
            Checkout
        </a>
    </form>
{% endblock %}