{% extends 'base.html' %}
{% block content %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<div style="height: 80vh;"></div>
<div id="MainBlock">
    <div id="SearchBar">
        <input type="text" id="search" placeholder="Search..." oninput="SearchFilter()"></input>
        <p>Pizza</p>
        <img src="/static/images/sliders.svg" alt="Settings" id="SliderSettings">
    </div>
    <div id="ProductBox">
        {% for pizza in pizzas %}
            <a href="{{ pizza.id }}/view">
                <div class="ProductElement">
                    <img src="{{ pizza.pic }}" alt="PizzaImg" class="ProductImg">
                    <div class="ProductText">
                        <h1 class="ProductName">{{ pizza.name }}</h1>
                        <p class="ProductIngredients">{{ pizza.toppings }}</p>
                    </div>
                    <div class="ProductPrices">
                        <p>Small: {{ pizza.pricesmall|stringformat:"d" }}Kr.</p>
                        <p>Medium: {{ pizza.pricemedium|stringformat:"d" }}Kr.</p>
                        <p>Large: {{ pizza.pricelarge|stringformat:"d" }}Kr.</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}