{% extends 'base.html' %}
{% block content %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<div style="height: 80vh;"></div>
<div id="MainBlock">
    <div id="SearchBar">
        <div id="SearchbarCheckbox">
            <label for="SortSelect">Sort By:</label>
            <select id="SortOfferSelect" onchange="SearchOfferFilter()">
                <option value="1">Name: First to Last</option>
                <option value="2">Name: Last to First</option>
                <option value="3">Price: Low to High</option>
                <option value="4">Price: High to Low</option>
            </select>
        </div>
        <input type="text" id="Search" placeholder="Search" oninput="SearchOfferFilter()"></input>
    </div>
    <div id="ProductBox">
        {% for offer in offers %}
            <a href="{{ offer.id }}">
                <div class="ProductElement">
                    <img src="{{ offer.pic }}" alt="OfferImg" class="ProductImg">
                    <div class="ProductText">
                        <h1 class="ProductName">{{ offer.name }}</h1>
                        <p class="ProductIngredients">{{ offer.description }}</p>
                    </div>
                    <div class="ProductPrices">
                        <p>Price: {{ offer.price|stringformat:"d" }}Kr.</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}