{% extends 'base.html' %}
{% block content %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<div style="height: 80vh;"></div>
<div id="MainBlock">
    <div id="SearchBar">
        <input type="text" id="search" placeholder="Search..." oninput="SearchOfferFilter()"></input>
        <p>Offers</p>
        <img src="/static/images/sliders.svg" alt="Settings" id="SliderSettings">
    </div>
    <div id="ProductBox">
        {% for offer in offers %}
            <div class="ProductElement">
                <img src="{{ offer.pic }}" alt="OfferImg" class="ProductImg">
                <div class="ProductText">
                    <h1 class="ProductName">{{ offer.name }}</h1>
                    <p class="ProductIngredients">{{ offer.description }}</p>
                </div>
                <div class="ProductPrices">
                    <p>Price: {{ offer.price|stringformat:"d" }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}