{% extends 'CartBase.html' %}
{% block CartContents %}
    
    <div class="CartProduct" id="OverviewContact">
        <h1 class="ProductName">Contact Details</h1>
        <div class="OverviewContactDetails">
            <div class="OverviewContactDetailsLeft">
                <p>Name: {{ profileform.FullName.value }}</p>
                <p>Phone: {{ profileform.PhoneNumber.value }}</p>
                <p>Street Name: {{ profileform.StreetName.value }}</p>
                {% if isprepaid == True %}
                <p>Payment Type: Prepaid</p>
                {% else %}
                <p>Payment Type: OnPickup</p>
                {% endif %}
            </div>
            <div class="OverviewContactDetailsRight">
                <p>City: {{ profileform.City.value }}</p>
                <p>PostalCode: {{ profileform.PostalCode.value }}</p>
                <p>Country: {{ profileform.Country.value }}</p>
            </div>
        </div>

    </div>
    <div class="CartProduct" id="CartProductHeading">
        <h1 class="ProductName">Pizzas:</h1>
    </div>
    {% for pizza in pizzas %}
    <div class="CartProduct">
        <img src="{{ pizza.img }}" alt="PizzaImg" class="ProductImg">
        <div class="ProductDetails">
            <div class="ProductPaymentText">
                <h1 class="ProductName">{{ pizza.name }}</h1>
                <p class="ProductIngredients">{{ pizza.additionaltoppings }}</p>
                <p class="ProductIngredients">{{ pizza.toppings }}</p>
                <p>Quantity: {{ pizza.qty }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
    {% for offer in offers %}
    <div class="CartProduct">
        <img src="{{ offer.img }}" alt="OfferImg" class="ProductImg">
        <div class="ProductDetails">
            <div class="ProductPaymentText">
                <h1 class="ProductName">{{ offer.name }}</h1>
                <p class="ProductIngredients">{{ offer.item }}</p>
            </div>
            <div>
                <p>{{ offer.qty }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
{% block CheckoutButton %}
<a href="/cart/deletecart" id="CheckoutButton">
    Make Order
</a>
<a href="/cart/creditcard" id="CheckoutButtonRed">
    Back
</a>
{% endblock %}