{% extends 'base.html' %}
{% block content %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<div style="height: 80vh;"></div>
<div id="PizzaPage">
    <div id="PizzaBox">
        <img src="{{ pizza.pic }}" alt="PizzaPic" id="PizzaPic">
        <div id="PizzaText"  name="{{ offer.id }}">
            <h1 id="PizzaTitle">{{ pizza.name }}</h1>
            <p class="PizzaDesc">{{ pizza.description }}</p>
        </div>
        <div class="PayBox">
            <div class="PaySelect">
                <p>Order</p>
                <p>Quantity</p>
            </div>
            <div id="OrderBox">
                <div id="OrderSelect" value="{{ pizza.pricelarge|stringformat:'d' }}">
                    <p>{{ pizza.name }}</p>
                    <p>1</p>
                </div>
            </div>
            <div class="PayText">
                <p>Total</p>
                <p id="FullPrice">{{ pizza.pricelarge|stringformat:"d" }}Kr.</p>
            </div>
            <button id="AddToCartButton" onclick="AddToCart(2); history.go(-1);">Add To Cart</button>
        </div>
    </div>
    <div id="SelectionBox">
        <div id="SizeBox" value="Large">
            <label>
                <input type="radio" id="small" name="options" onchange="EditPizzaValue('Small+{{ pizza.pricesmall }}')"/>
                <span>9'</span><span>Small Pizza - {{ pizza.pricesmall|stringformat:"d" }}Kr.</span>
            </label>
            <label>
                <input type="radio" id="medium" name="options" onchange="EditPizzaValue('Medium+{{ pizza.pricemedium }}')"/>
                <span>12'</span><span>Medium Pizza - {{ pizza.pricemedium|stringformat:"d" }}Kr.</span>
            </label>
            <label>
                <input type="radio" id="large" name="options" onchange="EditPizzaValue('Large+{{ pizza.pricelarge }}')" checked/>
                <span>16'</span><span>Large Pizza - {{ pizza.pricelarge|stringformat:"d" }}Kr.</span>
            </label>
        </div>
        <div id="ToppingPage">
            <div id="Cheeses" class="Foodgroup">
                <h1>Cheeses</h1>
                <div class="ToppingBox">
                    {% for topping in toppings %}
                        {% if topping.FID.name == "Cheeses" %}
                        <div class="Topping">
                            <p>{{ topping.name }}</p>
                            {% if topping.name in pizza.toppings %}
                                <input type="checkbox" class="toppingcheckbox" value="{{ topping.name }}+{{ topping.price }}+set" onchange="ChangePizzaTopping(this)" checked>
                            {% else %}
                                <input type="checkbox" class="toppingcheckbox" value="{{ topping.name }}+{{ topping.price }}" onchange="ChangePizzaTopping(this)">
                            {% endif %}
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div id="Meats" class="Foodgroup">
                <h1>Meats</h1>
                <div class="ToppingBox">
                {% for topping in toppings %}
                    {% if topping.FID.name == "Meats" %}
                        <div class="Topping">
                            <p>{{ topping.name }}</p>
                            {% if topping.name in pizza.toppings %}
                                <input type="checkbox" class="toppingcheckbox" value="{{ topping.name }}+{{ topping.price }}+set" onchange="ChangePizzaTopping(this)" checked>
                            {% else %}
                                <input type="checkbox" class="toppingcheckbox" value="{{ topping.name }}+{{ topping.price }}" onchange="ChangePizzaTopping(this)">
                            {% endif %}                        
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
            <div id="Vegetables" class="Foodgroup">
                <h1>Vegetables</h1>
                <div class="ToppingBox">
                    {% for topping in toppings %}
                        {% if topping.FID.name == "Vegetables" %}
                            <div class="Topping">
                                <p>{{ topping.name }}</p>
                                {% if topping.name in pizza.toppings %}
                                    <input type="checkbox" class="toppingcheckbox" value="{{ topping.name }}+{{ topping.price }}+set" onchange="ChangePizzaTopping(this)" checked>
                                {% else %}
                                    <input type="checkbox" class="toppingcheckbox" value="{{ topping.name }}+{{ topping.price }}" onchange="ChangePizzaTopping(this)">
                                {% endif %} 
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div id="Sauces and spices" class="Foodgroup">
                <h1>Sauces and spices</h1>
                <div class="ToppingBox">
                    {% for topping in toppings %}
                        {% if topping.FID.name == "Sauces and spices" %}
                            <div class="Topping">
                                <p>{{ topping.name }}</p>
                                {% if topping.name in pizza.toppings %}
                                    <input type="checkbox" class="toppingcheckbox" value="{{ topping.name }}+{{ topping.price }}+set" onchange="ChangePizzaTopping(this)" checked>
                                {% else %}
                                    <input type="checkbox" class="toppingcheckbox" value="{{ topping.name }}+{{ topping.price }}" onchange="ChangePizzaTopping(this)">
                                {% endif %} 
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}