{% extends 'base.html' %}
{% block content %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<div id="PizzaPage">
    <div id="PizzaBox">
        <img src="{{ pizza.pic }}" alt="PizzaPic" id="PizzaPic">
        <div id="PizzaText"  name="{{ offer.id }}">
            <h1 id="PizzaTitle">{{ pizza.name }}</h1>
            <p class="PizzaDesc">{{ pizza.description }}</p>
            <p id="PizzaToppings">{{ pizza.toppings }}</p>
        </div>
    </div>
    <div id="SelectionBox">
        <div id="SizeBox" value="Large">
            <div class="SizeOption">
                <label for="small">Small 9"</label>
                <p>{{ pizza.pricesmall|stringformat:"d" }}Kr</p>
                <input type="radio" id="small" name="options" onchange="EditPizzaValue('Small+{{ pizza.pricesmall }}')"/>
            </div>
            <div class="SizeOption">
                <label for="medium">Medium 12"</label>
                <p>{{ pizza.pricemedium|stringformat:"d" }}Kr</p>
                <input type="radio" id="medium" name="options" onchange="EditPizzaValue('Medium+{{ pizza.pricemedium }}')"/>
            </div>
            <div class="SizeOption">
                <label for="large">Large 16"</label>
                <p>{{ pizza.pricelarge|stringformat:"d" }}Kr</p>
                <input type="radio" id="large" name="options" onchange="EditPizzaValue('Large+{{ pizza.pricelarge }}')" checked/>
            </div>
        </div>
        <div id="ToppingPage">
            <div id="Cheeses" class="Foodgroup">
                <h1>Cheeses</h1>
                <div class="ToppingBox">
                    {% for topping in toppings %}
                        {% if topping.FID.name == "Cheeses" %}
                        <div class="Topping">
                            <label for="{{ topping.name }}">{{ topping.name }}</label>
                            {% if topping.name in pizza.toppings %}
                                <input type="checkbox" id="Check{{ topping.name }}" class="toppingcheckbox" value="{{ topping.name }}+{{ topping.price }}+set" onchange="ChangePizzaTopping(this)" checked>
                            {% else %}
                                <input type="checkbox" id="Check{{ topping.name }}" class="toppingcheckbox" value="{{ topping.name }}+{{ topping.price }}" onchange="ChangePizzaTopping(this)">
                            {% endif %}
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div id="Meats" class="Foodgroup">
                <h1>Meats</h1>
                <div class="ToppingBox">
                {% for topping in toppings %}
                    {% if topping.FID.name == "Meats" %}
                        <div class="Topping">
                            <label for="{{ topping.name }}">{{ topping.name }}</label>
                            {% if topping.name in pizza.toppings %}
                                <input type="checkbox" id="Check{{ topping.name }}" class="toppingcheckbox" value="{{ topping.name }}+{{ topping.price }}+set" onchange="ChangePizzaTopping(this)" checked>
                            {% else %}
                                <input type="checkbox" id="Check{{ topping.name }}" class="toppingcheckbox" value="{{ topping.name }}+{{ topping.price }}" onchange="ChangePizzaTopping(this)">
                            {% endif %}                        
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
            <div id="Vegetables" class="Foodgroup">
                <h1>Vegetables</h1>
                <div class="ToppingBox">
                    {% for topping in toppings %}
                        {% if topping.FID.name == "Vegetables" %}
                            <div class="Topping">
                                <label  for="{{ topping.name }}">{{ topping.name }}</label>
                                {% if topping.name in pizza.toppings %}
                                    <input type="checkbox" id="Check{{ topping.name }}" class="toppingcheckbox" value="{{ topping.name }}+{{ topping.price }}+set" onchange="ChangePizzaTopping(this)" checked>
                                {% else %}
                                    <input type="checkbox" id="Check{{ topping.name }}" class="toppingcheckbox" value="{{ topping.name }}+{{ topping.price }}" onchange="ChangePizzaTopping(this)">
                                {% endif %} 
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div id="Sauces and spices" class="Foodgroup">
                <h1>Sauces and spices</h1>
                <div class="ToppingBox">
                    {% for topping in toppings %}
                        {% if topping.FID.name == "Sauces and spices" %}
                            <div class="Topping">
                                <label for="{{ topping.name }}">{{ topping.name }}</label>
                                {% if topping.name in pizza.toppings %}
                                    <input type="checkbox" id="Check{{ topping.name }}" class="toppingcheckbox" value="{{ topping.name }}+{{ topping.price }}+set" onchange="ChangePizzaTopping(this)" checked>
                                {% else %}
                                    <input type="checkbox" id="Check{{ topping.name }}" class="toppingcheckbox" value="{{ topping.name }}+{{ topping.price }}" onchange="ChangePizzaTopping(this)">
                                {% endif %} 
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="PayBox">
    <h1 id="PayBoxPizzaName">{{ pizza.name }}</h1>
    <div class="PayBoxDetails">
        <div id="OrderBox">
            <div id="OrderSelect" value="{{ pizza.pricelarge|stringformat:'d' }}">
            </div>
        </div>
    </div>
    <div class="PayBoxPayment">
        <div class="PayText">
            <p>Total</p>
            <p id="FullPrice">{{ pizza.pricelarge|stringformat:"d" }}Kr.</p>
        </div>
        <button id="AddToCartButton" onclick="AddToCart(2); history.go(-1);">Add To Cart</button>
    </div>

</div>
{% endblock %}