{% extends 'base.html' %}
{% block content %}
<div class="RegisterForm">
    {% load static %}
    <a href="/homepage">
        <img src="{% static 'images/Logo'%}" alt="Logo" id="Logo">
    </a>
    <h1>Welcome to Pizza Palace</h1>    
    <form action="" method="get">
        <div class="FormInput">
            <label for="Email" >Email</label>
            <input type="text" name="Email" placeholder="Email">
        </div>
        <div class="FormInput">
            <label for="Password">Password</label>
            <input type="password" id="Password" placeholder="Password">
        </div>
        <div class="FormInput">
            <label for="Password">Confirm</label>
            <input type="password" id="Password" placeholder="Confirm Password">
        </div>
        <div class="FormButtons">
            <button type="submit" id="LoginButton">Create Account</button>
        </div>
    </form>
    <a href="/login" id="SignupButton">
        <button>Cancel</button> 
    </a>
</div>

{% endblock %}